{% trans_default_domain 'matrix_fieldtype' %}

{% block ezplatform_fieldtype_ezmatrix_widget %}
    <script type="text/template" class="ez-data-source__entry-template">
        {{ form_row(form.entries.vars.prototype) }}
    </script>
    <div class="ez-table-header ground-base">
        <div class="ez-table-header__headline">
            {{ form_label(form) }}
        </div>
        <div>
            <button 
                type="button" 
                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--add-matrix-entry"
                title="{{ 'ezmatrix.add'|trans|desc('Add') }}"
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                    <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                </svg>
            </button>
            <button 
                type="button" 
                class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--remove-matrix-entry"
                title="{{ 'ezmatrix.remove'|trans|desc('Remove') }}"
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="ez-scrollable-table-wrapper">
        <table class="ez-table table table-hover">
            <thead>
            <tr>
                <th></th>
                {% for column in columns %}
                    <th data-identifier="{{ column['identifier'] }}">{{ column['name'] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody class="ez-table__body" data-minimum-rows="{{ minimum_rows }}" data-next-index="{{ form.entries.children|length ? max(form.entries.children|keys) + 1 : 0 }}">
            {{ form_widget(form) }}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block ezplatform_fieldtype_ezmatrix_entry_row %}
    <tr class="ez-table__matrix-entry">
        <td>
            <input type="checkbox" class="ez-input ez-input--checkbox ez-table__ezmatrix-entry-checkbox">
        </td>
        {% for input in form.children %}
            <td>
                {{ form_widget(input) }}
            </td>
        {% endfor %}
    </tr>
{% endblock %}

{% block _ezrepoforms_content_edit_fieldsData_entry_value_entries_entry_cell_widget %}
    {{ form_widget(form) }}
{% endblock %}
