{% trans_default_domain 'matrix_fieldtype' %}

{% block ezplatform_fieldtype_ezmatrix_widget %}
    <script type="text/template" class="ibexa-data-source__entry-template">
        {{ form_row(form.entries.vars.prototype) }}
    </script>

    {% set head_cols = [{}] %}
    {% for column in columns %}
        {% set head_cols = head_cols|merge([{
            content: column['name'],
            attr: {
                'data-identifier': column['identifier'],
            }
        }]) %}
    {% endfor %}
    {% set head_cols = head_cols|merge([{}]) %}

    {% embed '@ezdesign/ui/component/table/table.html.twig' with {
        head_cols,
        class: 'ibexa-table--not-striped',
        table_body_attr: {
            'data-minimum-rows': minimum_rows,
            'data-next-index': form.entries.children|length ? max(form.entries.children|keys) + 1 : 0,
        },
        show_head_cols_if_empty: true,
    } %}
        {% block header %}
            {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                {% trans_default_domain 'matrix_fieldtype' %}

                {% block actions %}
                    <button
                        type="button"
                        class="btn ibexa-btn ibexa-btn--secondary ibexa-btn--small ibexa-btn--add-matrix-entry"
                    >
                        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                            <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'ezmatrix.add'|trans|desc('Add') }}</span>
                    </button>
                    <button
                        type="button"
                        class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--small ibexa-btn--bulk-remove-matrix"
                    >
                        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                            <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">{{ 'ezmatrix.remove'|trans|desc('Delete') }}</span>
                    </button>
                {% endblock %}
            {% endembed %}
        {% endblock %}
        {% block tbody %}
            {{ form_widget(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block ezplatform_fieldtype_ezmatrix_entry_row %}
    {% set col_checkbox %}
        <input type="checkbox" class="ibexa-input ibexa-input--checkbox ibexa-table__ezmatrix-entry-checkbox">
    {% endset %}

    {% set col_actions %}
        <button
            type="button"
            class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--remove-matrix-entry"
        >
            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
            </svg>
        </button>
    {% endset %}

    {% set body_row_cols = [{ has_checkbox: true, content: col_checkbox }] %}
    {% for input in form.children %}
        {% set body_row_cols = body_row_cols|merge([{
            content: form_widget(input, { attr: { class: 'ibexa-input--small' }}),
            raw: true,
        }]) %}
    {% endfor %}
    {% set body_row_cols = body_row_cols|merge([{ content: col_actions }]) %}

    {% include '@ezdesign/ui/component/table/table_body_row.html.twig' with {
        body_row_cols,
        class: 'ibexa-table__matrix-entry',
    } %}
{% endblock %}

{% block _ezrepoforms_content_edit_fieldsData_entry_value_entries_entry_cell_widget %}
    {{ form_widget(form, { attr: { class: 'ibexa-input--small' }}) }}
{% endblock %}
