{% trans_default_domain 'matrix_fieldtype' %}

{% set fieldtype_name = 'ezmatrix.name'|trans({}, 'fieldtypes')|desc('Matrix') %}

{% block ezmatrix_field_definition_edit %}
    <div class="ez-matrix-settings__minimum-rows">
        {{- form_label(form.minimum_rows, null, { 'label_attr': { 'class': 'ibexa-label' } }) -}}
        {{- form_errors(form.minimum_rows) -}}
        {{- form_widget(form.minimum_rows) -}}
    </div>

    <div class="ez-matrix-settings__columns">
        <script type="text/template" class="ez-matrix-settings__column-template">
            {% set col_checkbox %}
                <input type="checkbox" class="ibexa-input ibexa-input--checkbox ez-matrix-settings__column-checkbox" />
            {% endset %}

            {% include '@ezdesign/ui/component/table/table_body_row.html.twig' with {
                body_row_cols: [
                    { has_checkbox: true, content: col_checkbox, raw: true },
                    { content: form_widget(form.columns.vars.prototype.name), raw: true },
                    { content: form_widget(form.columns.vars.prototype.identifier), raw: true },
                ],
                class: 'ez-matrix-settings__column',
            } %}
        </script>
        {{ form_label(form.columns, null, { 'label_attr': { 'class': 'ibexa-label' } }) }}
        {{ form_errors(form.columns) }}
        {% set body_rows = [] %}
        {% for column in form.columns %}
            {% set col_checkbox %}
                <input type="checkbox" class="ibexa-input ibexa-input--checkbox ez-matrix-settings__column-checkbox">
            {% endset %}

            {% set body_rows = body_rows|merge([{
                cols: [
                    { has_checkbox: true, content: col_checkbox, raw: true },
                    { content: form_widget(column.name), raw: true },
                    { content: form_widget(column.identifier), raw: true },
                ],
                class: 'ez-matrix-settings__column',
            }]) %}
        {% endfor %}

        {% embed '@ezdesign/ui/component/table/table.html.twig' with {
            headline: 'field.columns'|trans|desc('Columns'),
            head_cols: [
                { has_checkbox: true },
                { content: 'field.column.name'|trans|desc('Name') },
                { content: 'field.column.identifier'|trans|desc('Identifier') },
            ],
            body_rows,
            table_body_attr: {
                'data-next-index': form.columns.children|length ? max(form.columns.children|keys) + 1 : 0,
            }
        } %}
            {% block header %}
                {% embed '@ezdesign/ui/component/table/table_header.html.twig' %}
                    {% block actions %}
                        <button type="button" class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--add-column">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                                <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                            </svg>
                        </button>
                        <button type="button" class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text ibexa-btn--remove-column">
                            <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                                <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                            </svg>
                        </button>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
